.container {
    padding: 50px;
    max-width: 1300px;
    margin : auto;
}

.row {
    display: flex;
    gap: 2rem;
    align-items: center;
}

@media screen and (max-width: 760px) {
    .row {
        flex-direction: column;
    }
}

.col {
    flex: 1;
}

.imgWrapper {
    padding: 2rem;
}

.img {
    max-width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.title {
    color: #101522;
    padding: 10px 0;
    border-bottom: 4px solid #444;
    width: 66%;
    font-size: 2rem;
}

.statement {
    font-size: 1.25rem;
    font-weight: normal;
    padding: 10px 0;
}

.contactDetail {
    padding: 2px 0;
}

.direction {
    font-size: 1.1rem;
    padding: 2px 0;
    text-decoration: none;
}

.direction:hover {
    text-decoration: underline;
}

.line {
    border-bottom: 0.01rem solid #bbb;
    margin: 50px 0;
}