.form {
    width: 100%;
}

.formRow {
    padding: .5rem 0;
}

.label {
    display: block;
    color: #777;
    padding: .5rem 0;
}

.input {
    display: block;
    width: 100%;
    height: 2.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: .5rem;
}

.textarea {
    display: block;
    width: 100%;
    height: 10rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: .5rem;
}

.submitButton {
    width: 100%;
    border: none;
    height: 2.5rem;
    border-radius: 5px;
    margin: 1rem 0;
    font-size: 1.25rem;
    padding: .5rem;
    color: white;
    background-color: #4B59f7;
}

.terms {
    color: #999;
    font-size: 0.8rem;
    padding: 10px 0;
}