.carousel {
    position: relative;
}

.arrowButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    color: rgba(255, 255, 255, .5);
    z-index: 2;
    cursor: pointer;
    padding: 0 .5rem;
    border-radius: .25rem;
    background-color: rgba(0, 0, 0, 0.1);
}

.arrowButton:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, .2);
}

.left {
    left: 2rem;
}

.right {
    right: 2rem;
}

.slides {
    display: grid;
}

.slide {
    grid-row: 1/2;
    grid-column: 1/2;
    opacity: 0;
    display: grid;
    transition: 2000ms  opacity ease-in;
}

.active {
    opacity: 1;
}

.carouselImg {
    height: 300px;
    width: 100%;
    object-fit: cover;
    grid-row: 1/2;
    grid-column: 1/2;
}

.imgText {
    grid-row : 1/2;
    grid-column: 1/2;
    display: flex;
    flex-direction:column;
    justify-content:flex-end;
    padding: 30px;
    text-align: center;
    text-shadow: 1px 5px 10px #000000;
    line-height: 1;
}

.title {
    font-size: 3rem;
    color: rgba(255, 255, 255, .7);
    padding: 10px;
}

.subtitle {
    font-family: Calibri;
    font-size: 1.25rem;
    color: rgba(255, 255, 255, .8);
}

.slideButtons {
    position: absolute;
    z-index: 5;
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: 100%;
    bottom: 5px;
}

.slideButtonContainer {
    border-radius: .25rem;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    height: .5rem;
    padding: 5px;
    align-items: center;
    cursor: pointer;
    transition: 1000ms ease;
}

.activeSlideButtonContainer, .slideButtonContainer:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.slideButton {
    width: 2rem;
    height: .125rem;
    border: none;
    background-color: rgba(255, 255, 255, .9);
}