.container {
    padding: 3rem 5rem;
}

@media screen and (max-width: 500px) {
    .container {
        padding: 1rem;
    }
}

@font-face {
    font-family: "GoldmanBold";
    src: local("GoldmanBold"),
     url("./fonts/Goldman/Goldman-Bold.ttf") format("truetype");
    font-weight: bold;
}
    
@font-face {
    font-family: "Barbershop-in-Thailand";
    src: local("Barbershop-in-Thailand"),
     url("./fonts/barbershop-in-thailand/Barbershop-in-Thailand.ttf") format("truetype");
    font-weight: bold;
}

#upper

{
    animation: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-origin: center;
}

@keyframes rotate {
    0%
    {
        transform: rotateZ(0deg);
    }
    100%
    {
        transform: rotateZ(360deg);
    }
}