.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding: 2rem;
    background-color: rgba(0,0,0,.02);
}

.header {
    font-size: 2rem;
    font-weight: bold;
    border-bottom : 1px solid #bbb;
    font-family: 'Playfair Display', serif;
}

.utilities {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: .5rem;
}

.utility {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    aspect-ratio: 1.3/1;
    padding: 0 2vw;
    box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.2);
    border-bottom: 1px solid #e33037;
    border-radius: 1px;
}

.utility:hover {
    transform: scale(1.05);
    transition: ease 500ms;
}

.utilityImage {
    width: 40%;
    margin-bottom: 10%;
    /* padding: .25rem; */
}

.utilityName {
    text-align: center;
    width: 100%;
    font-weight: bold;
}

@media screen and (max-width: 725px) {

    .container {
        padding: 2rem 0;
    }
    
    .utilities {
        grid-template-columns: repeat(2, 1fr);
    }

    .utility {
        box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.1);
    }
}
