.container {
    background-color: rgba(0,0,0,0.1);
}

.title {
    padding: 1rem;
    font-size: 2rem;
    border-bottom: 4px solid #444;
    width: 33%;
    margin: 2rem;
}

.media_scoller {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 30%;
    gap: 1rem;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    padding: 0 1rem 1rem;

    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1rem;
}
.media_element {
    padding: 1rem;
    scroll-snap-align: start;
}

.media_element:hover {
    transform: scale(1.02);
    transition: all 0.4s ease-out;
}

.img {
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 8px 8px 15px 0px rgba(0,0,0,0.75);
}

@media screen and (max-width: 500px) {
    .title {
        width: 75%;
        padding: .25rem;
    }

    .media_scoller {
        grid-auto-columns: 80%;
        gap: .25rem;
        padding: 0 .25rem .25rem;
    }

    .media_element {
        padding: .5rem;
    }

    .img {
        box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.75);
    }
}
